.container.why{ 
   text-align: center;
} 
.card{
  transition: all 0.3s ease-in-out;
  margin-bottom:10px
}
.card:hover{
  transform: scale(1.1);
}
.row{
  display:flex;
  justify-content: space-between;
}

.container-2{
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.58);

}

    .carousel-caption {
        position: initial;
        z-index: 10;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 1rem;
        line-height: 1.5rem
    }

.carousel-caption img {
        width: 5.5rem;
    }

    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem
    }


.carousel-control-prev {
    justify-content: flex-start
}

.carousel-control-next {
    justify-content: flex-end
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity: unset
}

body {
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    color: darkolivegreen;
    font-size: 60px;
}

h2 {
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
    padding: 22px;
}

.intro {
    border: none;
    padding: 10px 50px 50px 30px;
    font-size: 20px;
}

.menus {
    display: flex;   
    flex-flow: row wrap;
    justify-content: center;
}

.menu {
    display: inline-block;
    border: 5px solid darkolivegreen; 
    padding: 8px;
    margin: 10px;
    max-width: 90vw;
    transition: all 0.5s ease-in-out;
    background-color: white; 
}

.menu:hover {
    padding: 22px;
    font-size: 1.13em
}

.recipes {
    /*Container of flexbox*/
    display: flex;
    flex-flow: column wrap; 
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-around;
    padding: 20px;
}

.recipe {
   width: 300px;
    /*Children in flexbox*/
}

.recipeimage {
    max-width: 280px;
    max-height: 200px
}

a {
    color: black;
    text-decoration: none; 
}

a:hover {
    text-decoration: none; 
}

a:visited {
    color: darkolivegreen;
}

.map {
    max-width: 96vw;
    max-height: 72vw;
    margin: 50px auto;
}

.glyphicon.glyphicon-user{
color:black;
}


/* Quiz */

#quiz {
    width: 60%;
    margin: auto;
    padding: 10px;
}

#quiztitle {
    margin-top: 0;
    padding: 5px;
}

label {
    width: 150px;
    display: inline-block;
}

label:hover {
    color: darkolivegreen;
}

#quizbutton {
    display: inline-block;
    margin-top: 20px;
    border-color: darkolivegreen;
    border-radius: 12px;
    padding: 14px;
    transition-duration: 0.4s;
}

#quizbutton:hover {
    background-color: darkolivegreen;
    color: white;
}

.container-2 {
   display: inline-block;
}
